// @import '~@/less/variable.less';

.knowledge {
  padding: 20px;
  margin: 20px;
  background-color: #fff;
  border-radius: 4px;
}

.topWrapper {
  padding: 0 40px 20px;

  .title {
    color: var(--ant-color-info);
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: @fontWeight600;
    line-height: 38px;
  }
  .description {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  .topButton {
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: @fontWeight600;
    line-height: 20px;
  }

  .filterButton {
    .topButton();
    display: flex;
    align-items: center;
  }
}
.topUsrNum {
  padding: 0 40px;
  margin-bottom: 40px;
  .topNumContent {
    display: flex;
    width: 100%;
    padding: 20px 0;
    border: 1px solid #eee;
  }
}
.knowledgeCardContainer {
  overflow: auto;
  padding: 0 30px;
  .knowledgeEmpty {
    width: 100%;
  }
}
