.myModal {
  :global(.ant-modal-header) {
    padding-top: 20px;
    background: #f7f9ff;
  }
  :global(.ant-modal-content) {
    padding: 0;
  }
  :global(.ant-modal-body) {
    padding: 15px 20px;
  }
  :global(.ant-progress-line) {
    display: none;
  }
  :global(.ant-tabs-nav::before) {
    border: 0 !important;
  }
  :global(.ant-modal-footer) {
    padding-right: 20px;
    padding-bottom: 20px;
  }
}
