.chatWrapper {
  width: 100%;
  height: 100%;

  .chatAppWrapper {
    flex-direction: column;
    width: 288px;
    padding: 26px;
    .chatAppContent {
      overflow-y: auto;
      width: 100%;
    }
    .chatAppLeft {
      overflow: auto;
      height: 50%;
    }
    .chatAppCard {
      :global(.ant-card-body) {
        padding: 10px;
      }
      .cubeIcon {
        &:hover {
          cursor: pointer;
        }
      }
    }
    .chatAppCardSelected {
      :global(.ant-card-body) {
        background-color: @gray11;
        border-radius: 8px;
      }
    }
    .chatAppCardSelectedDark {
      :global(.ant-card-body) {
        background-color: rgba(255, 255, 255, .1);
        border-radius: 8px;
      }
    }
  }
  .chatTitleWrapper {
    overflow: auto;
    height: 50%;
    padding-top: 26px;
  }

  .chatTitle {
    padding: 5px 15px;
  }

  .chatTitleContent {
    overflow: auto;
    padding: 5px 10px;
  }

  .chatSpin {
    :global(.ant-spin-container) {
      display: flex;
      flex-direction: column;

      gap: 10px;
    }
  }

  .chatTitleCard {
    :global(.ant-card-body) {
      padding: 8px;
    }
  }

  .chatTitleCardSelected {
    :global(.ant-card-body) {
      background-color: @gray11;
      border-radius: 8px;
    }
  }
  .chatTitleCardSelectedDark {
    :global(.ant-card-body) {
      background-color: rgba(255, 255, 255, .1);
      border-radius: 8px;
    }
  }

  .divider {
    height: 100%;
    margin: 0;
  }
}
