.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;

  .delete {
    height: 24px;
  }

  .content {
    display: flex;
    justify-content: space-between;

    .context {
      flex: 1;
    }
  }

  .footer {
    // text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding-top: 3px;
  }
  .footerTop {
    padding-bottom: 2px;
  }

  .titleWrapper {
    position: relative;
    flex: 1;
    overflow: hidden;
    padding: 16px 0;
    border-bottom: 1px solid #aaa;

    .title {
      display: -webkit-box;
      overflow: hidden;
      color: rgba(0, 0, 0, .88);
      font-size: 24px;
      font-weight: 600;
      line-height: 32px;
      word-break: break-all;

      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }

    .description {
      display: -webkit-box;
      overflow: hidden;
      margin-top: 4px;
      color: rgba(0, 0, 0, .45);
      font-size: 12px;
      font-weight: 600;
      line-height: 20px;

      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
    }
    .titledark {
      display: -webkit-box;
      overflow: hidden;
      font-size: 24px;
      font-weight: 600;
      line-height: 32px;
      word-break: break-all;

      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }

    .descriptiondark {
      display: -webkit-box;
      overflow: hidden;
      margin-top: 4px;
      font-size: 12px;
      font-weight: 600;
      line-height: 20px;

      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
    }
  }
}

.card {
  width: 250px;
  padding: 18px;
  background-color: rgba(255, 255, 255, .1);
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, .05);
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 12px;
  cursor: pointer;

  .titleWrapper {
    .title {
      font-size: 24px;
      font-weight: 600;
      line-height: 32px;
      word-break: break-all;
    }
    .description {
      font-size: 12px;
      font-weight: 600;
      line-height: 20px;
    }
  }

  :global {
    .ant-card-body {
      padding: 0;
      margin: 0;
    }
  }
  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .bottomLeft {
    vertical-align: middle;
  }
  .leftIcon {
    margin-right: 10px;
    font-size: 18px;
    vertical-align: middle;
  }
  .rightText {
    font-size: 12px;
    font-weight: 600;
    vertical-align: middle;
  }
  .time {
    position: absolute;
    bottom: 4px;
    font-size: 12px;
    font-weight: 600;
    vertical-align: middle;
  }
}

.hideRibbon {
  display: none !important;
}

.ribbon {
  top: 4px;
}
