.tags {
  margin-bottom: 24px;
}

.preset {
  display: flex;
  height: 80px;
  padding: 5px;
  margin-bottom: 24px;
  background-color: rgba(0, 0, 0, .1);
  border-radius: 5px;

  .left {
    flex: 1;
  }

  .right {
    width: 100px;
    padding: 5px;
    margin: 10px 0;
    border-left: 1px solid rgba(0, 0, 0, .4);
  }
}

.configurationWrapper {
  padding: 0 52px;
  .contentTop {
    margin: 0 !important;
    text-align: center;
  }
  .buttonWrapper {
    padding-top: 20px;
    // position: absolute;
    // right: 0;
    // bottom: 0;
    // left: 0;
    margin: 0;
    text-align: center;
  }
  .rightContent {
    overflow-y: auto;
    height: calc(100vh - 320px);
    min-height: 500px;
  }
  .variableSlider {
    width: 100%;
  }
}

.configurationContent {
  width: 100%;
}

.configurationForm {
  position: relative;
  width: 100%;
}

.formHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;

  gap: 16px;
}

.categoryPanel {
  width: 100%;
  padding: 24px 0;
}

.categoryPanelWrapper {
  .topTitle {
    margin-top: 0;
  }
  .imageRow {
    margin-top: 16px;
  }
  .image {
    width: 100%;
  }
}

.titleDescription {
  color: darkgrey;
  font-size: 12px;
  text-align: center ;
}
