.fileManagerWrapper {
  padding: 20px;
  margin: 20px;
  background: #fff;
  border-radius: 4px;
}

.filter {
  padding-bottom: 24px ;
  margin: 10px 0;
}

.deleteIconWrapper {
  width: 22px;
  text-align: center;
}

.linkButton {
  padding: 0;
}

.breadcrumbItemButton {
  height: auto;
  padding: 0;
  color: #1677ff;
  cursor: pointer;
}
